{% load static %}
<html>
    <head>
        <title>Merchex</title>
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}" >
    </head>
    <body>

        {% block content %}{% endblock %}

    </body>
    <footer>
        <h1>CONTACT US</h1>
        <div class="footer__contact" >
            <div>
                <h2>MAIL</h2>
                <p>contact@merchex.com</p>
            </div>
            <div>
                <h2>TELEPHONE</h2>
                <p>03.27.01.02.03</p>
            </div>
        </div>
    </footer>
</html>